h1, h2 {
    font-family: "alternate_gothic_fs_no_3Rg", "Arial", sans-serif; }
@font-face {
    font-family: 'alternate_gothic_fs_no_3Rg';
    src: url("../../src/fonts/AlternateGothicNo3-webfont.woff");
    src: url("../../src/fonts/AlternateGothicNo3-webfont.woff?#iefix") format("embedded-opentype"), url("../../src/fonts/AlternateGothicNo3-webfont.woff") format("woff"), url("../../src/fonts/AlternateGothicNo3-webfont.ttf") format("truetype"),url("../../src/fonts/AlternateGothicNo3-webfont.svg#alternate_gothic_fs_no_3Rg") format("svg");
    font-weight: normal;
    font-style: normal; }
.alignleft {
    float: left;
}
.alignright {
    float: right;
    text-align: right;
}
ul {
    font-family: Arial;
}
.btn-secondary {
    background-color: #F4F4F4;
    color: #535353;
    border-color: #EAEAEA;
}
.btn-secondary:hover {
    background-color: #F0F0F0;
    color: #535353;
    border-color: #EAEAEA;
}
.nav-item {
    color: #A07F9E;
}