<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
                
        <!-- Popper JS -->
        <script src="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/js/popper.min.js"></script>
        
        <!-- Vendor JS -->
        <script src="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/js/jquery.min.js"></script>
        <script src="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/js/bootstrap.min.js"></script>
        <script src="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/js/Chart.min.js"></script>
        
        <!-- App JS -->
        <script src="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/js/homepage.js"></script>

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/css/bootstrap.css">

        <!-- App CSS -->
        <link rel="stylesheet" href="https://community.dur.ac.uk/alexander.e.stuckey/password/durham-volunteering/app/static/css/homepage.css" type="text/css">

        <!-- Admin CSS -->
        <link rel="stylesheet" href="admin.css" type="text/css">

    </head>

    <body>
        <!-- Webpage -->
        <div id="page">
            <div id="nav">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                    <a class="navbar-brand" href="#">Staff Volunteering Programme</a>
                </nav>
            </div>
            <div class="container-fluid text-center" id="content">
                <div class="row content">
                    <div class="col-sm-3 sidenav" id="leftSide">
                    </div>
                    <div data-spy="scroll" data-target=".navbar" data-offset="70" class="col-sm-6 text-left" id="centre">
                        <div class="text-center">
                            <h1 class="onboardh1">This website is not available.</h1>
                            <p><br />This website is down for required maintenance right now, but will be back online soon. Thank you for your patience.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 sidenav" id="rightSide">
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <div id="footer">
            <footer class="container text-center">
                <p><br /><b>design & programming</b><br />software engineering team</p>
            </footer>

        </div>
        </div>
    </body>
</html>

