<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Import homepage.css file -->
        <script src="../javascript/homepage.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Import homepage.css file-->
        <link rel="stylesheet" href="../css/homepage.css" type="text/css">

    </head>

    <body>
        <!-- Webpage -->
        <div id="page">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">Volunteer & Outreach</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="/">Page 2</a></li>
                            <li><a href="/">Page 3</a></li>
                            <li><a href="/">Page 4</a></li>

                        </ul>
                    </div>
                </div>
            </nav>

            <div class="jumbotron text-center" id="jumbo">
                <h1>Volunteering and Outreach</h1>
                <h3>Homepage</h3>
            </div>

            <div class="container-fluid text-center">
                <div class="row content">
                    <div class="col-sm-2 sidenav" id="leftSide">
                        <div class="well">
                            <h4>Shortcuts</h4>
                            <ul class="list-unstyled">
                                <li><p><a href="#">Link 1</a></p></li>
                                <li><p><a href="#">Link 2</a></p></li>
                                <li><p><a href="#">Link 3</a></p></li>
                                <li><p><a href="#">Link 4</a></p></li>
                                <li><p><a href="#">Link 5</a></p></li>
                                <li><p><a href="#">Link 6</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8 text-left" id="centre">
                        <!-- Notifications Div -->
                        <h1>Notifications</h1>

                        <div class="well notification">
                            <!-- Notification Title -->
                            <h4><span class="glyphicon glyphicon-envelope"></span> Notification Title</h4>
                            <h5>Time: Time</h5>

                            <!-- Notification Description -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ac diam ultricies tincidunt. Maecenas venenatis finibus libero sed dapibus. Fusce sit amet nisl a risus commodo placerat. Nam venenatis suscipit orci nec porttitor. Nullam et dui et lacus semper volutpat. Fusce eleifend ornare est vel hendrerit. Etiam aliquet purus.</p>

                            <!-- Archive and Dismiss Buttons -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dismiss">
                                    <span class="glyphicon glyphicon-inbox"></span> Archive
                                </button>
                                <button type="button" class="btn btn-default archive">
                                    <span class="glyphicon glyphicon-remove"></span> Dismiss
                                </button>
                            </div>
                        </div>

                        <div class="well notification">
                            <!-- Notification Title -->
                            <h4><span class="glyphicon glyphicon-envelope"></span> Notification Title</h4>
                            <h5>Time: Time</h5>

                            <!-- Notification Description -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ac diam ultricies tincidunt. Maecenas venenatis finibus libero sed dapibus. Fusce sit amet nisl a risus commodo placerat. Nam venenatis suscipit orci nec porttitor. Nullam et dui et lacus semper volutpat. Fusce eleifend ornare est vel hendrerit. Etiam aliquet purus.</p>

                            <!-- Archive and Dismiss Buttons -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dismiss">
                                    <span class="glyphicon glyphicon-inbox"></span> Archive
                                </button>
                                <button type="button" class="btn btn-default archive">
                                    <span class="glyphicon glyphicon-remove"></span> Dismiss
                                </button>
                            </div>
                        </div>

                        <div class="well notification">
                            <!-- Notification Title -->
                            <h4><span class="glyphicon glyphicon-envelope"></span> Notification Title</h4>
                            <h5>Time: Time</h5>

                            <!-- Notification Description -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ac diam ultricies tincidunt. Maecenas venenatis finibus libero sed dapibus. Fusce sit amet nisl a risus commodo placerat. Nam venenatis suscipit orci nec porttitor. Nullam et dui et lacus semper volutpat. Fusce eleifend ornare est vel hendrerit. Etiam aliquet purus.</p>

                            <!-- Archive and Dismiss Buttons -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dismiss">
                                    <span class="glyphicon glyphicon-inbox"></span> Archive
                                </button>
                                <button type="button" class="btn btn-default archive">
                                    <span class="glyphicon glyphicon-remove"></span> Dismiss
                                </button>
                            </div>
                        </div>

                        <div class="well notification">
                            <!-- Notification Title -->
                            <h4><span class="glyphicon glyphicon-envelope"></span> Notification Title</h4>
                            <h5>Time: Time</h5>

                            <!-- Notification Description -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ac diam ultricies tincidunt. Maecenas venenatis finibus libero sed dapibus. Fusce sit amet nisl a risus commodo placerat. Nam venenatis suscipit orci nec porttitor. Nullam et dui et lacus semper volutpat. Fusce eleifend ornare est vel hendrerit. Etiam aliquet purus.</p>

                            <!-- Archive and Dismiss Buttons -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dismiss">
                                    <span class="glyphicon glyphicon-inbox"></span> Archive
                                </button>
                                <button type="button" class="btn btn-default archive">
                                    <span class="glyphicon glyphicon-remove"></span> Dismiss
                                </button>
                            </div>
                        </div>

                        <div class="well notification">
                            <!-- Notification Title -->
                            <h4><span class="glyphicon glyphicon-envelope"></span> Notification Title</h4>
                            <h5>Time: Time</h5>

                            <!-- Notification Description -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat ac diam ultricies tincidunt. Maecenas venenatis finibus libero sed dapibus. Fusce sit amet nisl a risus commodo placerat. Nam venenatis suscipit orci nec porttitor. Nullam et dui et lacus semper volutpat. Fusce eleifend ornare est vel hendrerit. Etiam aliquet purus.</p>

                            <!-- Archive and Dismiss Buttons -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dismiss">
                                    <span class="glyphicon glyphicon-inbox"></span> Archive
                                </button>
                                <button type="button" class="btn btn-default archive">
                                    <span class="glyphicon glyphicon-remove"></span> Dismiss
                                </button>
                            </div>
                        </div>
                        <!-- End of Notifications Div -->

                        <!-- Horizontal Break -->
                        <hr>

                        <!-- Another Section -->
                        <h3>Test</h3>
                        <p>Lorem ipsum...</p>
                        <!-- End of Another Section -->
                    </div>
                    <div class="col-sm-2 sidenav" id="rightSide">
                        <div class="well">
                            <h4>Upcoming Activity</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                        <div class="well">
                            <h4> Previous Activity</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                        <div class="well">
                            <h4>Extra Info</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                        <div class="well">
                            <h4>Extra Info</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                        <div class="well">
                            <h4>Extra Info</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                        <div class="well">
                            <h4>Extra Info</h4>
                            <ul class="list-unstyled">
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                                <li>Object in List</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <footer class="container-fluid fixed-bottom text-center">
                <p>Copyright &#169; Software Engineering Team 8 2017</p>
            </footer>
        </div>

        <!-- JQuery Script -->
        <script type="text/javascript">

        </script>
    </body>
</html>
