

            <div class="text-center" id="page-heading">
                <h1 class="onboardh1">Onboarding Process</h1>
                <p>Thank you for signing up to Durham University's Volunteering Project. With this account you can organize and track your volunteering activities.</p>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Personal Details</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Enter or change your personal information.</p>
                            <a href="onboarding_3_enter_details_form.php">
                                <p class="card-text">Your personal details</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Section completed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Your manager</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Your manager gives you permission to use a specified time during working hours for volunteering.</p>
                            <a href="onboarding_5_nominate_manager_form.php">
                                <p class="card-text">Nominate a manager</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Manager approved</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Get Started</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Go to your personal homepage to start organizing and tracking your volunteering activities.</p>
                            <a href="homepage.html">
                                <p class="card-text">Your Homepage</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Onboarding completed</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

