<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Onboarding</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Vendor JS -->
        <script src="../../static/js/jquery.min.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>

        <!-- App JS -->
        <script src="../../static/js/homepage.js"></script>

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="../../static/css/bootstrap.css">

        <!-- App CSS -->
        <link rel="stylesheet" href="../../static/css/homepage.css" type="text/css">

    </head>

    <body>

        <!-- Webpage -->
        <div id="page">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
                <a class="navbar-brand" href="#">Volunteering & Outreach</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <h1><br /></h1>

            <div style="text-align:center;">
                <h1>Onboarding Process</h1>
                <h4><br /></h4>
                <p>Thank you for signing up to Durham University's Volunteering Project. With this account you can organize and track your volunteering activities.</p>
                <h4><br /></h4>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Personal Details</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Enter or change your personal information.</p>
                            <a href="onboarding_2_enter_details_info.html">
                                <p class="card-text">Your personal details</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Section completed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Your Manager</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Your manager gives you permission to use a specified time during working hours for volunteering.</p>
                            <a href="onboarding_5_nominate_manager.html">
                                <p class="card-text">Nominate a manager</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Section incomplete</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 mb-4" style="opacity: 0.5; pointer-events: none;">
                    <div class="card h-100">
                        <div class="card-header">
                            <h4>Get Started</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Go to your personal homepage to start organizing and tracking your volunteering activities.</p>
                            <a href="homepage.html">
                                <p class="card-text">Your Homepage</p>
                            </a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Onboarding not completed</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

            <!-- FOOTER -->
            <footer class="container text-center">
                <p>Copyright &#169; Software Engineering Team 8 2017</p>
            </footer>
        </div>
    </body>
</html>
